<aside class="main-sidebar" style="overflow-y:auto;">
      <section class="sidebar">
        <ul class="sidebar-menu"> 
        	<li class="">
        		<a href="{:U('Matche/MatcheGoods/displayImport')}" target="rightContent">
					<i class="fa fa-th"></i><span>导入商品</span>
        		</a>
        	</li>
        	<li class="treeview">
        		<a href="javascript:void(0)" target="rightContent">
	              <i class="fa fa-files-o"></i><span>导入商品管理</span><i class="fa fa-angle-left pull-right"></i>
	            </a>
	            <ul class="treeview-menu">
	            	<li><a href="#" target="rightContent"><i class="fa fa-circle-o"></i>待确认品牌</a></li>
	            	<li><a href="#" target="rightContent"><i class="fa fa-circle-o"></i>待确认商品</a></li>
	            </ul>
        	</li>
        	<li class="treeview">
        		<a href="javascript:void(0)">
	              <i class="fa fa-book"></i><span>备案商品管理</span><i class="fa fa-angle-left pull-right"></i>
	            </a>
	            <ul class="treeview-menu">
	            	<li><a href="#" target="rightContent"><i class="fa fa-circle-o"></i>已备案品牌</a></li>
	            	<li><a href="#" target="rightContent"><i class="fa fa-circle-o"></i>已备案商品</a></li>
	            </ul>
        	</li>
        </ul>
      </section>
</aside>
